/* estilo do geral */
* {
    padding: 10PX;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/*estilo do cabeçalho*/

header {
    padding: 10px 4%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 40px 10px rgb(27, 26, 26);

}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.Menu-desktop a:hover {
    color: orange;
    transform: scale(1.20);
}

header nav ul {
    list-style-type: none;
}

header nav.Menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;

}
header nav ul li a:hover{
    background-color: black;
}

/* Estilo do Menu Mobile */

.jm-abrir-menu i{
    color: orange;
    font-size: 30px;
}

.menu-mobile{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
 
}
.menu-mobile .jm-fechar{
    padding: 20px 5%
}
.menu-mobile .jm-fechar i{
    color: orange;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: orange;
    color: black;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.486);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}

/* End Menu mobile */

header .Jm-contato button {
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: orange;
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .Jm-contato button:hover {
    box-shadow: 0px 0px 8px orange;
}


/* Estlio do Tp do site */
section.topo-do-site {
    padding: 50px 4%;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site {
    align-items: center;
    justify-content: center;
}


.topo-do-site h1 {
    color: white;
    font-size: 50px;
}

.topo-do-site h1:hover {
    color: orange;
}

.topo-do-site .txt-topo-do-site p {
    color: white;
    font-size: 20px;
}

section.topo-do-site .txt-topo-do-site p span {
    color: orange;
}

/* Para a imagem ficar flutuando */

.topo-do-site .img-topo-do-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Para a imagem ficar flutuando */

/* SOBRE */
section.sobre {
    padding: 100px 3%;
    box-shadow: 0 0 40px 10px rgb(27, 26, 26);
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .texto-sobre {
    color: white;
}

.sobre .texto-sobre h2 {
    font-size: 60px;

}

.sobre .texto-sobre h2 span {
    color: orange;
    display: block;
}

.sobre .texto-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.jmsocial button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: orange;
    font-size: 21px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0px 0px 8px orange;
}

.jmsocial button:hover {
    transition: .3s;
    transform: scale(1.15);
}

/* END SOBRE */


/* RODAPÉ */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: black;
}

.rodape-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    /* Mantém tudo centralizado */
    gap: 15px;
}


.linha-divisoria {
    width: 80%;
    height: 2px;
    background-color: orange;
    border: none;
    margin: 10px 0;
}


footer .flex {
    justify-content: center;

}

footer .linha-abaixo {
    padding: 23px 0;
    border-bottom: 2px solid orange;
    border-top: 20px;
}

footer .linha-abaixo p i {
    color: orange;
    font-size: 20px;

}

footer .linha-abaixo p a {
    color: white;
}

/* END RODAPÉ */

@media screen and (max-width: 904px) {

    /* Classe Geral */
    .flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }


    /* cabeçalho do app movel */
    .Menu-desktop,
    .Jm-contato {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 30px 0;

        /* Container do rodapé */
        .rodape-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            gap: 15px;
        }

        /* Linha divisória */
        .linha-divisoria {
            width: 80%;
            height: 2px;
            background-color: orange;
            border: none;
            margin: 10px 0;
        }


        /* Estilo para o e-mail */
        .contato {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .contato i {
            color: orange;
            font-size: 24px;
        }

        .contato a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        /* Ícones sociais lado a lado */
        .jmsocial {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        .jmsocial a {
            text-decoration: none;
        }


        /* Ajuste para a imagem no rodapé */
        .logo-rodape img {
            display: block;
            max-width: 150px;
            /* Ajuste o tamanho conforme necessário */
            height: auto;
            margin-top: 10px;

        }
    }
}