/* estilo do geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto  ;
}

.flex{
    display: flex;
}


/*estilo do cabeçalho*/ 

header{
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.20);
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;

}

header .Jm-contato button{
    padding:  10px 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(113, 0, 141);
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .Jm-contato button:hover{
    box-shadow: 0px 0px 8px rgb(204, 0, 255);
}


/* Estlio do Tp do site */
section.topo-do-site{
    padding: 40px  4%;

}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site{
    align-items: center;
    justify-content: center;
}


.topo-do-site h1{
    color: white;
    font-size: 30px;
}
.topo-do-site h1:hover{
    color:  rgb(113, 0, 141);
}

.topo-do-site .txt-topo-do-site p{
    color: white;
    font-size: 20px;
}

section.topo-do-site .txt-topo-do-site p span{
    color: red;
}
